<nz-layout style="padding:24px 0; background: #fff">
  <nz-sider [nzWidth]="200" style="background:#fff">
    <ul nz-menu [nzMode]="'inline'" style="height:100%">
      <li nz-submenu *ngFor="let menu of menusSecond">
        <span title><i class="anticon {{menu.icon}}"></i>{{menu.name}}</span>
        <ul>
          <li nz-menu-item *ngFor="let menuThird of menu.menuThird"><a routerLink='{{menuThird.path}}'><i class="anticon {{menuThird.icon}}"></i><span>{{menuThird.name}}</span></a></li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-content style="padding: 0 24px; min-height: 280px;">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>